{% extends 'admin/base.html.twig' %}

{% block title %}Interface d'administration - SP-Lifting{% endblock %}

{% block body %}
    <div class="alert alert-warning text-center" role="alert">
        <h4 class="alert-heading">Interface d'administration</h4>
        <p class="mb-0">Bienvenue dans la partie admin du site - en cours de construction</p>
    </div>
{% endblock %}