{% extends 'public/base.html.twig' %}

{% block title %}Accueil - SP-Lifting{% endblock %}

{% block body %}
    <div class="alert alert-info text-center" role="alert">
        <h4 class="alert-heading">Site en construction</h4>
        <p class="mb-0">Bienvenue sur la partie publique du site - en cours de construction</p>
    </div>
{% endblock %}